.App {
  text-align: center;
  background-color: #dcdce7;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-control {
  width: 100%;
  margin: 0 auto;
}

.form-control::placeholder {
  text-align: center;
}

.fas, .fab {
  padding: 10px;
  font-size: 5em;
  border-radius: 5px;
}

.landing-form {
  margin: 0 auto;
  width: 30%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.platform-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.character-menu {
  margin: 0 auto;
  width: 60%;
}

.character-select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.character-selection {
  position: relative;
  width: 100%;
}

.character-selection h2 {
  position: absolute;
  top: 6px;
  left: 20px;

}

.character-selection h3 {
  position: absolute;
  top: 6px;
  right: 20px;
}

.character-selection .block {
  color: white;
  background: rgb(0,0,0);
  background: rgb(0,0,0,0.7);
  padding: 5px;
}

.light-lvl {
  text-align: right;
}